.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main-form-conteiner {
  text-align: right;
  padding-right: 30px;
}
.result-conteiner {
  text-align: left;
  vertical-align: middle;
  padding-left: 30px;
}
.MuiTableContainer-root {
  margin: 30px auto;
  grid-column-start: span 2;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main-form-conteiner {
  padding-top: 20px;
}
.main-form {
  list-style: none;
}
.main-form li {
  margin-top: 10px;
}
.statistic-box {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 1200px;
  margin: auto;
  padding-top: 50px;
  /* grid-column-start: span 2; */
}
.statistic-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.setingForm {
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding-top: 20px;
}
.LinearProgressStyles {
  margin-top: 3px;
  padding-top: 5px;
}
.listButtonFilter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-top: 30px;
}
.debts-form-box {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.debts-content-box {
  background-color: rgb(247, 245, 245);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  gap: 15px;
  padding: 15px;
  margin-top: 20px;
}
.card {
  width: 300px;
  padding: 10px;
  position: relative;
}
.card h4 {
  margin: 0;
  padding: 0;
}
.card-title {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(212, 210, 210);
}
.card-title::before {
  width: 100%;
  height: 2px;
  background-color: rgb(247, 245, 245);
}
.StarIcon {
  position: absolute;
  top: 10px;
  right: 10px;
}
.card-icon-box {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  border-top: 1px solid rgb(212, 210, 210);
  padding-top: 10px;
}
